/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* Start General Styling */

   body {
     font-family: Roboto;
   }

    .container {
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }

    .announcement {
      width: 100%;
      background-color: #dc5626;
      grid-row-gap: 1fr;
    }

    .announcement_row {
      width: 1120px;
      color: white;
      display: grid;
      margin-left: auto;
      margin-right: auto;
      padding: 8px 0px 8px 0px;
      font-size: 14px;
    }

    .logo img {
      padding: 20px 0px 20px 0px;
      width: 150px;
    }

    nav {
      width: 100%;
    }

    nav ul {
      list-style-type: none;
      background-color: #292929;
      padding: 0px;
      margin: 0px 0px 10px 0px;
    }

    nav li {
      padding: 20px;
      display: inline-block;
    }

    nav li:hover {
      background-color: #363636;
      text-decoration: none;
    }

    nav a {
      color: white;
      text-decoration: none;
    }

    h4 {
      color: #dc5626;
      font-size: 22px;
      margin-bottom: 10px;
    }

    h5 {
      color: #dc5626;
      font-size: 18px;
    }

    h6 {
      color: #dc5626;
      font-size: 18px;
      margin: 15px 0px 10px 0px;
    }

   /* End General Styling */

   /* Start Order.php */

   .order {
     margin-bottom: 10px;
   }

   .balk {
     background-color: #292929;
     color: white;
     padding: 10px;
     cursor: pointer;
     border-radius: 2px;
   }

   .balk:hover {
     background-color: #363636;
   }

   .balk_klaar {
     background-color: #2d492b;
     color: white;
     padding: 10px;
     cursor: pointer;
     border-radius: 2px;
   }

   .balk_klaar:hover {
     background-color: #345431;
   }

   .balk_probleem {
     background-color: #a70101;
     color: white;
     padding: 10px;
     cursor: pointer;
     border-radius: 2px;
   }

   .balk_probleem:hover {
     background-color: #bd0000;
   }

   .informatie {
     display: none;
     background-color: #f1f1f1;
     padding: 1px 10px 1px 10px;
   }

   .order_details_list {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
   }

   /* Style the form */

   * {
     box-sizing: border-box;
   }

   #regForm {
     background-color: #f1f1f1;
     padding: 5px 40px;
     width: 100%;
     height: 600px;
     min-width: 300px;
     border-radius: 5px;
   }

   #regForm .img_info {
     width: 48%;
     float: right;
     margin-top: -40px;
   }

   #regForm input,
   #regForm select,
   #regForm textarea {
     padding: 10px;
     width: 48%;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   textarea {
     border-radius: 2px;
   }

   .order input:not(#submit),
   .order select,
   .order textarea {
     width: 98%;
     padding: 10px;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   .create_materiaal {
     background-color: #f1f1f1;
     padding: 5px 10px;
     width: 100%;
     min-width: 300px;
     border-radius: 5px;
   }

   .create_materiaal input:not(#submit) {
     width: 100%;
     padding: 10px;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   .create_fabrikant {
     background-color: #f1f1f1;
     padding: 5px 10px;
     width: 100%;
     min-width: 300px;
     border-radius: 5px;
   }

   .create_fabrikant input:not(#submit) {
     width: 100%;
     padding: 10px;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   .create_afwerking {
     background-color: #f1f1f1;
     padding: 5px 10px;
     width: 100%;
     min-width: 300px;
     border-radius: 5px;
   }

   .create_afwerking input:not(#submit) {
     width: 100%;
     padding: 10px;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   input[type=number]::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }

   /* Mark input boxes that gets an error on validation: */
   #regForm input.invalid {
     background-color: #ffdddd;
   }

   /* Hide all steps by default: */
   #regForm .tab {
     display: none;
   }

   #regForm button,
   #submit {
     background-color: #4CAF50;
     color: #ffffff;
     border: none;
     padding: 10px 20px;
     font-size: 17px;
     cursor: pointer;
     border-radius: 2px;
   }

   #regForm button:hover,
   #submit:hover {
     opacity: 0.8;
   }

   #regForm #prevBtn {
     background-color: #bbbbbb;
   }

   /* Make circles that indicate the steps of the form: */
   #regForm .step {
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbbbbb;
     border: none;
     border-radius: 50%;
     display: inline-block;
     opacity: 0.5;
   }

   #regForm .step.active {
     opacity: 1;
   }

   /* Mark the steps that are finished and valid: */
   #regForm .step.finish {
     background-color: #4CAF50;
   }

   /* End Order.php */

   /* Start Klant.php */

   .klant {
     margin-bottom: 10px;
   }

   /* End Klant.php */

   /* Start Materialen.php */

   .materiaal {
     margin-bottom: 10px;
   }

   /* End Materialen.php */

   /* Start Fabrikanten.php */

   .fabrikant {
     margin-bottom: 10px;
   }

   /* End Materialen.php */

   /* Start Signup.php */

   .inloggen {
     background-color: #f1f1f1;
     padding: 5px 10px;
     width: 100%;
     min-width: 300px;
     border-radius: 5px;
     margin-bottom: 20px;
   }

   .inloggen input:not(#submit) {
     width: 100%;
     padding: 10px;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   .registreren {
     background-color: #f1f1f1;
     padding: 5px 10px;
     width: 100%;
     min-width: 300px;
     border-radius: 5px;
   }

   .registreren input:not(#submit) {
     width: 100%;
     padding: 10px;
     font-size: 17px;
     border: 1px solid #aaaaaa;
     border-radius: 2px;
   }

   /* End Signup.php */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
